/*.blank{
	background-color: #8fa479;
}*/

.green {
	background-color: #e3cc89;
}

.blue {
	background-color: #475f5f;
}

#board {
	position: relative;
	margin: 0 auto 0 auto;
	width: 800px;
	height: 640px;
}

#imgbckdiv {  	
	position: absolute;
	width: 800px;
	height: 640px;
	z-index: 1;
}

#imgtopdiv {  	
	position: absolute;
	width: 800px;
	height: 640px;
	z-index: 2;
}

#columns-n-buttons {
	position: absolute;
	width: 800px;
	height: 640px;
	z-index: 3;
}

 #col-a {
  	position: absolute;
  	width: 80px;
  	height: 640px;
  	left: 38px;
 }

 #col-b {
  	position: absolute;
  	width: 80px;
  	height: 640px;
  	left: 145px;
 }

  #col-c {
  	position: absolute;
  	width: 80px;
  	height: 640px;
  	left: 252px;
 }

  #col-d {
  	position: absolute;
  	width: 80px;
  	height: 640px;
  	left: 360px;
 }

  #col-e {
  	position: absolute;
  	width: 80px;
  	height: 640px;
  	left: 472px;
 }

  #col-f {
  	position: absolute;
  	width: 80px;
  	height: 640px;
  	left: 580px;
 }

  #col-g {
  	position: absolute;
  	width: 80px;
  	height: 640px;
  	left: 685px;
 }


#a1 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#a2 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#a3 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#a4 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#a5 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#a6 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#b1 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#b2 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#b3 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#b4 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#b5 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#b6 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#c1 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#c2 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#c3 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#c4 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -5;
	border-radius: 70%;
/*	z-index: 1*/
}

#c5 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#c6 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#d1 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#d2 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#d3 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#d4 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#d5 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#d6 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#e1 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#e2 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#e3 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#e4 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#e5 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#e6 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#f1 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#f2 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#f3 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#f4 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#f5 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#f6 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#g1 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#g2 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#g3 {
	position: relative;
	width: 80px;
	height: 80px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#g4 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#g5 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#g6 {
	position: relative;
	width: 80px;
	height: 80px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}