#board {  	
  	display: flex;
  	justify-content: center;
  	min-width: 900px;
/*	z-index: 1*/
}

.green {
	background-color: green;
}

#a1 {
	position: relative;
	width: 80px;
	height: 80px;
	right: 760px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#a2 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 760px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#a3 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 760px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#a4 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 760px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#a5 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 760px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#a6 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 760px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#b1 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 735px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#b2 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 735px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#b3 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 735px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#b4 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 735px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#b5 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 735px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#b6 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 735px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#c1 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 708px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#c2 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 708px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#c3 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 708px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#c4 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 708px;
	top: -5;
	border-radius: 70%;
/*	z-index: 1*/
}

#c5 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 708px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#c6 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 708px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#d1 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 680px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#d2 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 680px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#d3 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 680px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#d4 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 680px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#d5 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 680px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#d6 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 680px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#e1 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 650px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#e2 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 650px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#e3 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 650px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#e4 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 650px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#e5 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 650px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#e6 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 650px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#f1 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 620px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#f2 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 620px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#f3 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 620px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#f4 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 620px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#f5 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 620px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#f6 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 620px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}

#g1 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 595px;
	top: 540px;
	border-radius: 70%
/*	z-index: 1*/
}

#g2 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 595px;
	top: 365px;
	border-radius: 70%
/*	z-index: 1*/
}

#g3 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 595px;
	top: 183px;
	border-radius: 70%
/*	z-index: 1*/
}

#g4 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 595px;
	top: -5px;
	border-radius: 70%
/*	z-index: 1*/
}

#g5 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 595px;
	top: -190px;
	border-radius: 70%
/*	z-index: 1*/
}

#g6 {
	position: relative;
	background-color: black;
	width: 80px;
	height: 80px;
	right: 595px;
	top: -378px;
	border-radius: 70%
/*	z-index: 1*/
}